﻿@model JuiceShop.Web.Models.Juice
@{
    ViewBag.Title = "JuicesEdit";
}

<h2>Edit one Juice</h2>

@using (Html.BeginForm("Edit", "Juices"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ID)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.BRAND)</div>
    <div class="editor-label">@Html.EditorFor(m => m.BRAND)</div>
    <div class="editor-label">@Html.LabelFor(m => m.MADEINCOUNTRY)</div>
    <div class="editor-label">@Html.EditorFor(m => m.MADEINCOUNTRY)</div>
    <div class="editor-label">@Html.LabelFor(m => m.FRUITS)</div>
    <div class="editor-label">@Html.EditorFor(m => m.FRUITS)</div>
    <div class="editor-label">@Html.LabelFor(m => m.PRICE)</div>
    <div class="editor-label">@Html.EditorFor(m => m.PRICE)</div>
    <div class="editor-label">@Html.LabelFor(m => m.PRODUCTION)</div>
    <div class="editor-label">@Html.EditorFor(m => m.PRODUCTION)</div>
    <div class="editor-label">@Html.LabelFor(m => m.PROFIT)</div>
    <div class="editor-label">@Html.EditorFor(m => m.PROFIT)</div>

    <input type="submit" value="SEND" />
}
