﻿@model IEnumerable<JuiceShop.Web.Models.Juice>
@{
    ViewBag.Title = "JuicesList";
}

<h2>List of Juices</h2>

@if (Model.Count() == 0)
{
    <p>No data in the database</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().ID)</th>
            <th>@Html.DisplayNameFor(m => m.First().BRAND)</th>
            <th>@Html.DisplayNameFor(m => m.First().MADEINCOUNTRY)</th>
            <th>@Html.DisplayNameFor(m => m.First().FRUITS)</th>
            <th>@Html.DisplayNameFor(m => m.First().PRICE)</th>
            <th>@Html.DisplayNameFor(m => m.First().PRODUCTION)</th>
            <th>@Html.DisplayNameFor(m => m.First().PROFIT)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.ID)</td>
                <td>@Html.DisplayFor(m => item.BRAND)</td>
                <td>@Html.DisplayFor(m => item.MADEINCOUNTRY)</td>
                <td>@Html.DisplayFor(m => item.FRUITS)</td>
                <td>@Html.DisplayFor(m => item.PRICE)</td>
                <td>@Html.DisplayFor(m => item.PRODUCTION)</td>
                <td>@Html.DisplayFor(m => item.PROFIT)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.ID })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.ID })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.ID })</td>
            </tr>
        }
    </table>
}

