﻿@model JuiceShop.Web.Models.Juice
@{
    ViewBag.Title = "JuicesDetails";
}

<h2>Datasheet of one Juice</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>The ID of the Juice</td>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.BRAND)</td>
        <td>@Html.DisplayFor(m => m.BRAND)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.MADEINCOUNTRY)</td>
        <td>@Html.DisplayFor(m => m.MADEINCOUNTRY)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.FRUITS)</td>
        <td>@Html.DisplayFor(m => m.FRUITS)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.PRICE)</td>
        <td>@Html.DisplayFor(m => m.PRICE)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.PRODUCTION)</td>
        <td>@Html.DisplayFor(m => m.PRODUCTION)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.PROFIT)</td>
        <td>@Html.DisplayFor(m => m.PROFIT)</td>
    </tr>
</table>

