﻿@model JuiceShop.Web.Models.JuicesViewModel
@{
    ViewBag.Title = "JuicesIndex";
}

<h2>JuicesIndex</h2>

<p style="color:red; font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("JuicesEdit", Model.EditedJuice)

@Html.Partial("JuicesList", Model.AllJuices)

